html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

p {
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.img-flex {
  display: block;
  width: 100%;
  height: 100%;
  padding: .1em;
}

strong {
  background-color: rgba (0, 0, 0, 0.5);
}
